/* #region Common stiles */

body {
  font-family: "Inter", serif;
  background-color: #fff;
  color: #171717;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 1340px) {
  .container {
    max-width: 1340px;
    padding: 0 50px;
  }
}
.input {
  font-family: inherit;
  line-height: inherit;
}
.section {
}
/* header */
/* header mobile */
.header-cont{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
gap: 15px;
}
.btn-contacts{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
border: 1px solid #ddd;
border-radius: 100px;
padding: 8px 15px;
width: 108px;
height: 25px;
font-weight: 500;
font-size: 13px;
line-height: 1.38;
text-align: center;
color: #171717;
}
.btn{
  display: none;
}
.contacts-list{
  display: none;
}
.nav-list{
  display: none;
}
.btn-laguage{
  display: none;
}
.mobie-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3E3E3E;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* header desctop */
@media screen and (min-width: 1340px){
  .burger-btn{
    display: none;
  }
  .btn-contacts{
    display: none;
  }
  .mobile-menu{
    display: none;
  }
  .header-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .nav-list{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
gap: 8px;
  }
.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 137%;
color: #171717;
}
.btn-long{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
border-radius: 100px;
padding: 8px 20px;
width: 252px;
height: 40px;
background-color: #171717;
}
}
/* hero mobile*/
.hero{
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0.35)),
  url("../images/logo/Rectangle 6@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 max-width: 320px;
 height: 550px;
}
/* hero descktop */
@media screen and (min-width: 1340px){
  .hero{
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0.35)),
  url("../images/logo/Rectangle 6@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 max-width: 1440px;
 height: 800px;
 margin-bottom: 75px;
}
}

/* help mobile */
.help{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 30px;
}
.help-title-text{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 45px;
font-weight: 500;
font-size: 22px;
line-height: 1.23;
color: #171717;
}
.help-italic{
font-family: "Merriweather", sans-serif;
font-style: italic;
font-weight: 400;
} 
.help-list{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 10px;
max-width:280px ;
}
.h-title{
font-weight: 500;
font-size: 18px;
line-height: 1.17;
color: #171717;
}
.help-link{
font-weight: 400;
font-size: 13px;
line-height: 1.38;
color: #666;
}
/* help descktop */
@media screen and(min-width: 1340px){
  .help{
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 15px;
}
.help-title{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}
.help-title-text{
}
.help-italic{
  line-height: 1.28;
}
}



/* #endregion */
/* #region Section medical clinics styles */
.resume-wrapper {
}
.section-title-small {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.23;
  text-align: center;
}
.section-title-accent {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  color: #171717;
}
.clinic-doktors-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  margin-bottom: 2px;
}
.medical-clinics-section {
  padding-bottom: 30px;
}
.container {
}
.medical-clinics-list {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.links-text {
  margin-top: 10px;
}
.medical-clinics-item {
}

.specialty-of-doctors {
  font-size: 13px;
  line-height: 1.38462;
}
.collage-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}
/* #endregion */
/* #region About us style */
.section-about-us {
  padding-bottom: 35px;
}
.container {
}
.section-name-subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  margin-bottom: 10px;
  margin-right: auto;
}
.section-title-about-us,
.section-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 15px;
  width: 285px;
}
.section-title {
}
.section-title-accent-about-us .section-title-accent {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  width: 285px;
  text-align: left;
}
.section-paragraf {
  font-size: 13px;
  line-height: 1.62;
  color: #666;
  margin-bottom: 25px;
}
.btn {
  border-radius: 50px;
  padding: 8px 15px;
  max-width: 185px;
  height: 34px;
  background-color: #171717;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
}
.about-us-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-icon {
  fill: #fff;
  margin-right: 15px;
}
.arrow-right {
}
/* #endregion */
/* #region Section reviews styles */
.section-reviews {
}
.container {
}
.section-title {
}
.section-title-accent {
}
.roundabout-wrapper {
}
.reviews-list {
  display: flex;
}
.reviews-item {
  max-width: 134px;
  height: 284px;
}
.reviews-items-paragraf {
}
.section-about-us-cursive-title {
}

/* #endregion */
