body {
  font-family: "Inter" serif;
  background-color: #fff;
  color: #171717;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 1340px) {
  .container {
    max-width: 1340px;
    padding: 0 50px;
  }
}
.input {
  font-family: inherit;
  line-height: inherit;
}
.section {
}
/* header */
